changelogs/generator/
overrides/.mixin.out/
overrides/astralsorcery/
overrides/backups/
overrides/configs/adchimneys/Containers/
overrides/configs/adchimneys/Emitters/
overrides/configs/agricraft/json/server_play-enthusiasticraft-cf/
overrides/configs/agricraft/json/defaults/mod_agriculturalexpansion
overrides/configs/agricraft/json/defaults/mod_arsmagica2
overrides/configs/agricraft/json/defaults/mod_mysticalaggraditions
overrides/configs/agricraft/json/defaults/mod_mysticalagriculture
overrides/configs/AppliedEnergistics2/items.csv
overrides/configs/biomesoplenty/biomes/defaults/
overrides/configs/tellme/
overrides/configs/harvest_scanned_output.json
overrides/configs/splash.properties
overrides/coremods/
overrides/downloads/
overrides/journeymap/
overrides/libraries/
overrides/llibrary/
overrides/mods/
overrides/opframe_cache/
overrides/resourcepacks/
overrides/saves/
overrides/schematics/
overrides/screenshots/
overrides/server-resource-packs/
overrides/texturepacks/
overrides/tv-cache/
overrides/.ReAuth.cfg
overrides/hotbar.nbt
overrides/*.dat
overrides/*.txt
overrides/usercache.json
overrides/usernamecache.json