changelogs/generator/
overrides/.mixin.out/
overrides/astralsorcery/
overrides/backups/
overrides/config/adchimneys/Containers/
overrides/config/adchimneys/Emitters/
overrides/config/agricraft/json/server_play-enthusiasticraft-cf/
overrides/config/agricraft/json/defaults/mod_agriculturalexpansion
overrides/config/agricraft/json/defaults/mod_arsmagica2
overrides/config/agricraft/json/defaults/mod_mysticalaggraditions
overrides/config/agricraft/json/defaults/mod_mysticalagriculture
overrides/config/AppliedEnergistics2/items.csv
overrides/config/biomesoplenty/biomes/defaults/
overrides/config/enderio/recipes/examples/
overrides/config/enderio/recipes/*.xml
overrides/config/forgeendertech/Biomes/
overrides/config/treasure2/defaults/dumps/
overrides/config/tellme/
overrides/config/harvest_scanned_output.json
overrides/config/splash.properties
overrides/coremods/
overrides/crash-reports/
overrides/downloads/
overrides/journeymap/
overrides/libraries/
overrides/llibrary/
overrides/local/
overrides/logs/
overrides/mods/
overrides/opframe_cache/
overrides/resourcepacks/
overrides/saves/
overrides/schematics/
overrides/screenshots/
overrides/scripts/recipes.zs
overrides/server-resource-packs/
overrides/texturepacks/
overrides/tv-cache/
overrides/.ReAuth.cfg
overrides/hotbar.nbt
overrides/*.dat
overrides/*.txt
overrides/usercache.json
overrides/usernamecache.json