# Configuration file

clipboard {
    I:0 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        34
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        108
        111
        103
        63
        97
        120
        105
        115
        61
        120
        38
        118
        97
        114
        105
        97
        110
        116
        61
        111
        97
        107
        3
        0
        1
        115
        0
        0
        0
        55
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        62
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        66
        22
        -55
        -55
        79
        -73
        79
        -84
        -56
        44
        -74
        -83
        80
        43
        75
        44
        -54
        76
        -52
        43
        -79
        -51
        79
        -52
        102
        96
        120
        -64
        -4
        127
        20
        12
        107
        0
        0
        123
        24
        -15
        -26
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:1 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        31
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        115
        116
        111
        110
        101
        63
        118
        97
        114
        105
        97
        110
        116
        61
        115
        116
        111
        110
        101
        3
        0
        1
        115
        0
        0
        0
        62
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        89
        120
        -38
        99
        98
        -110
        -49
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        44
        46
        -55
        -49
        75
        -75
        47
        75
        44
        -54
        76
        -52
        43
        -79
        5
        -13
        24
        -108
        74
        -110
        -13
        -13
        -118
        75
        -118
        74
        -109
        65
        42
        114
        -13
        115
        74
        82
        -13
        -30
        -109
        -13
        -109
        18
        115
        74
        -20
        115
        82
        -53
        82
        115
        108
        13
        24
        24
        -34
        48
        -1
        -121
        2
        6
        6
        16
        -58
        4
        -93
        -14
        -61
        71
        30
        0
        107
        -86
        -71
        -61
        3
        0
        2
        108
        118
        0
        0
        0
        15
        0
        0
     >
}


